h1 {
  text-align: center;
}

.content {
  max-width: 600px;
  display: flex;
  justify-content: center;

  & > * {
    width: 100%;
  }

  margin: 0 auto;
}

.shadow-text {
  font-size: 50px;
  font-weight: bold;
  color: blue;
  text-shadow: 2px 2px 0 orange, 4px 4px 0 yellow, 6px 6px 0 green, 8px 8px 0 red, 10px 10px 0 purple;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & img {
    height: 24px;
  }

  & .title {
    flex-grow: 1;
  }
}
